---
layout: default
---

<header>
	<div class="container">
		<h1>Physics Simulation Kit</h1>
		<p>
			Demonstrate physics phenomenon to your class graphically, from your browser.
			Allow your students to work out the spring constant of a material without having to set up any equipment.
			Perfect for A Level physics and some GCSE topics.
		</p>
		<p id="course-selector">
			Course:
			<a id="a-levels" class="selected">A Level</a>
		</p>
	</div>
</header>

<main class="container">
	<p class="alert">
		A new version of the Physics Simulation Kit is coming! Check out the
		<a href="https://physics.rubenwardy.com/beta/">beta version</a>,
		with new and improved sims.
	</p>
	<p id="loading">
		Loading simulations...
	</p>
	<ul id="sections"></ul>
	<p id="fail">
		Javascript is required to run these simulations.
		Please <a href="http://www.enable-javascript.com/" target="_blank">Enable</a>
	</p>
	<script>
		function isCanvasSupported(){
			var elem = document.createElement('canvas');
			return !!(elem.getContext && elem.getContext('2d'));
		}
		if (isCanvasSupported()) {
			$("#fail").hide();
		} else {
			$("#fail").text("Your browser cannot run these simulations, because canvases are not supported. Please install Chrome or Firefox.");
		}
	</script>
	<footer>
		<p>
			<a href="http://gitlab.com/rubenwardy/physics_simulation_kit/releases">Download for Offline Use</a> |
			Created by <a href="https://rubenwardy.com/">rubenwardy</a> |
			<a href="https://gitlab.com/rubenwardy/physics_simulation_kit">GitHub</a> |
			License: GPLv3+
		</p>

		<p class="smalltext">
			This site categorises its content to match selected courses, but is not certified or approved in anyway.<br>
			No warranty or guarantee is made on the accuracy of any simulations.
		</p>
	</footer>
</main>
<script>
	const all_sims = [
	{% for sim in site.sims %}
		{% assign segments = sim.url | split: "/" %}
		{
			"name": {{ segments[2] | jsonify }},
			"title": {{ sim.title | jsonify }},
			"description": {{ sim.description | jsonify }},
			"url": {{ sim.url | jsonify }},
			"hidden": {{ sim.hidden | jsonify }},
		},
	{% endfor %}
	];
</script>
<script src="{{ layout.root }}static/js/home.js"></script>
