---
title: Interference Patterns
layout: sim
no_canvas: true
scripts:
  - interference.js
description: >
  See how two sources cause constructive and destructive
  interference with each other, and how path difference is used.
help: |
  Drag the two sources around to see how they combine to make
  destructive and constructive zones.
---

<canvas id="canvas" oncontextmenu="if (game.path){game.path = null;return false;}"></canvas>

<div id="bottom_bar">
	<b>Interference Patterns</b>,
	by <a href="http://github.com/rubenwardy">rubenwardy</a>.
	|
	Drag sources to move. Click for path difference. &lambda; is 30px
	|
	Source One shift: <input id="one_shift" type="number" value="0" style="width: 40px;">&deg;
	|
	Source Two shift: <input id="two_shift" type="number" value="0" style="width: 40px;">&deg;
	|
	<a class="button inline_button" id="toggletheme">Light Mode</a>
</div>
