---
title: Projectiles
layout: sim
scripts:
- projectile.js
description: >
  Model a projectile as it flies through the air, demonstrating
  how the X and Y co-ordinates change.
help: |
  v = s / t<br />
  v = u + a t<br />
  s = u t + &half; a t<sup>2</sup><br />
  v<sup>2</sup> = u<sup>2</sup> + 2 a s

  Model a particle in 2D. Set an inital starting velocity and position.

  Drag the ball to change its position. Drag the vector to change its value,
  or enter the value in the number boxes.
---

<style>
	#setup {
		border-radius: 3px;
		position: fixed;
		padding: 0;
		margin: 0;
		width: 190px;
	}

	#setup input {
		margin: 1px;
	}

	#angle, #speed, #velox, #veloy {
		width: 70px;
	}

	#setup p {
		color: #d0d0d0;
		font-size: 15px;
		margin-top: 10px;
	}

	#buttons {
		position: fixed;
		bottom: 10px;
		left: 10px;
		display: block;
	}

	#or {
		display: block;
		margin: 0 0 2px 60px;
	}
</style>

<ul id="buttons" class="buttonset">
	<li id="start_element"><a id="start" class="start">Start</a></li>
	<li><a id="restart">Restart</a></li>
	<li><a id="reset">Reset</a></li>
	<li><a id="toggletheme">Light Mode</a></li>
</ul>
<div id="setup">
	<input id="speed" type="number" placeholder="Speed" step="any">
	<input id="angle" type="number" placeholder="Angle" step="any"> &deg;<br />
	<b id="or">or</b>
	( <input id="velox" type="number" placeholder="Velocity X" step="any">,
	<input id="veloy" type="number" placeholder="Velocity Y" step="any"> )
</div>
