---
title: Hooke's Law
layout: sim
has_sidebar: true
scripts:
- ../../static/js/graph.js
- ../../static/js/stringphys_maths.js
- ../../static/js/stringphys_physics.js
- ../../static/js/stringphys.js
- hookes_law.js
description: >
  Find the spring constant for an elastic material,
  by varing the applied weight and plotting a graph.
help: |
  F = k&Delta;x

  Hooke's law states that the force required to compress or extend an elastic object
  is proportional to the extension that you compress or extend it by.

  Use this simulation to calculate the spring constant of a spring.
  Modify the weight applied using the number box to the left, and
  click "plot" to measure the extension and plot it on the graph.

  Then read points of the line of best fit in order to find the gradient.
---

<div id="sidebar" style="text-align: center;">
	<h1>Hooke's Law</h1>
	<h2>Created by <a href="http://github.com/rubenwardy">rubenwardy</a></h2>

	Graph: <select id="y_against_x">
		<option selected value="1">F against &Delta;x</option>
		<option value="2">&Delta;x against F</option>
	</select>
	<div>
		Weight: <input type="number" id="weight" value=1 /> N<br />
		<span id="warning" style="color:#e00000;font-size: 80%;display:none;">Weight must be > 0N!</span><br />
		<a class="button" id="plot">Plot</a>

	</div>
	<div id="bottom_panel">
		<a class="button" id="answer">Reveal Answer</a>
		<a class="button" id="random">New String Constant</a>
		<a class="button" id="toggletheme">Light Mode</a>
	</div>
</div>
