---
title: Standing Waves
layout: sim
has_sidebar: true
scripts:
- standing.js
description: >
  Show how two waves combine to make standing waves, whilst changing the
  frequency.
help: |
  See how two waves travelling in opposite directions superimpose over each over
  to cause a standing wave, also known as a stationary wave.

  In 'Basic' mode, modify the '#' value to set the freqency to give that number
  of nodes.
---

<style>
	#fund_data {
		display: inline-block;
		padding-top: 5px;
	}
</style>

<div id="sidebar">
	<h1>Standing Waves</h1>
	<h2>Created by <a href="http://github.com/rubenwardy">rubenwardy</a></h2>

	Mode: <select id="mode">
		<option selected value="2">Basic</option>
		<option value="1">Advanced</option>
	</select>

	<div id="advanced">
		1/&lambda; <input style="width: 140px;" type="number" id="wavelength" value=2 /><br />
		f: <input type="number" id="speed" value=1 /><br />
		<span id="adv_data"></span>
	</div>

	<div id="fund">
		Fundamental is # = 1.<br /><br />

		#: <input type="number" id="fundament" value=3 /><br />
		f: <input type="number" id="fund_speed" value=2 /><br />
		<span id="fund_data"></span>
	</div>


	<div id="bottom_panel" style="position: fixed;left:10px;bottom:-20px;width: 180px;">
		<a class="button" id="toggletheme">Light Mode</a>
	</div>
</div>
