---
title: Oscillation
layout: sim
scripts:
- ../../static/js/stringphys_maths.js
- ../../static/js/stringphys_physics.js
- ../../static/js/stringphys.js
- oscillation.js
description: >
  See how the extension varies against time, whilst change dampening
  and spring constant factors.
help: |
  x = A cos(&omega; t)<br />
  v = -A &omega; sin(&omega; t)<br />
  a = -A &omega;<sup>2</sup> cos(&omega; t)<br />
  a = -&omega;<sup>2</sup>x<br />
  Equilibrium: mg = k &Delta;x

  BOING, BOING!

  This simulator can model Simple Harmonic Motion, or an oscillator with
  damping.

  You can drag the ball on the end of the string to start the oscillation again.
  Damping is fraction of velocity lost per second, so 0.5 is 50% of the velocity
  lost per second. Also try varying the string constant and the mass.
  (Warning: the view changes scale so that the equilibrium is aways in the centre
  of the screen vertically).
---


<style>
	#setup {
		border-radius: 3px;
		position: fixed;
		padding: 0;
		margin: 0;
		width: 190px;
	}

	#setup input {
		margin: 1px;
	}

	#angle, #speed, #velox, #veloy {
		width: 70px;
	}

	#setup p {
		color: #d0d0d0;
		font-size: 15px;
		margin-top: 10px;
	}

	#buttons {
		position: fixed;
		bottom: 10px;
		left: 10px;
		display: block;
	}

	#top_buttons {
		position: fixed;
		top: 5px;
		left: 5px;
		display: block;
	}

	#or {
		display: block;
		margin: 0 0 2px 60px;
	}

	#v {
		color: #0ff;
	}
	#a {
		color: red;
	}

	.light_mode #v {
		color: blue;
	}
</style>

<ul id="buttons" class="buttonset">
	<li><a id="pauseplay">Pause</a></li>
	<li><a id="clear">Clear Graph</a></li>
	<li><a id="toggletheme">Light Mode</a></li>
	<li>SpringConstant: <input id="springconstant" type="number" max="10" min="0" step="0.1" value="0.5"></li>
	<li>Mass: <input id="mass" type="number" max="10" min="0" step="0.01" value="0.1"></li>
	<li>Damping: <input id="damping" type="number" max="5" min="0" step="0.1" value="0"></li>
	<li>Zoom%: <input id="zoom" type="number" max="500" min="10" step="1" value="100"></li>
</ul>

<ul id="top_buttons" class="buttonset">
	<li id="x">Graph: <input type="checkbox" checked> X</li>
	<li id="v"><input type="checkbox"> V</li>
	<li id="a"><input type="checkbox"> A</li>
</ul>
