<!doctype html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>{% if page.title %}{{ page.title }} - {% endif %}Physics Simulation Kit</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/x-icon" href="{{ layout.root }}favicon.ico">

		<link rel="stylesheet" href="{{ layout.root }}static/style.css" />
		<script src="{{ layout.root }}static/js/jquery.min.js"></script>
	</head>
	<body {% if page.has_sidebar %}class="sidebar-shown"{% endif %}>
		{{ content }}
	</body>
	{% for script in page.scripts %}
		<script src="{{ script }}"></script>
	{% endfor %}
</html>
