---
layout: default
root: ../../
---

{% if page.help %}
	<div id="help">
		<p id="fail">
			Javascript is required to run these simulations.
			Please <a href="http://www.enable-javascript.com/" target="_blank">Enable</a>
		</p>
		<script>
			function isCanvasSupported(){
				var elem = document.createElement('canvas');
				return !!(elem.getContext && elem.getContext('2d'));
			}
			if (isCanvasSupported()) {
				$("#fail").hide();
			} else {
				$("#fail").text("Your browser cannot run these simulations, because canvases are not supported. Chrome usually works the best.");
			}
		</script>
		<dialog>
			<h1>{{ page.title }}</h1>

			{{ page.help | markdownify }}

			<a class="button inline_button blue_button" id="close_help">Close</a>
		</dialog>
	</div>
{% endif %}

{% unless page.no_canvas %}
	<canvas id="canvas"></canvas>
{% endunless %}

<script src="../../static/js/engine.js"></script>
<script src="../../static/js/simulation.js"></script>

{{ content }}
