---
title: Magnetic Fields
layout: sim
no_canvas: true
scripts:
- fields.js
description: >
  Model an electron as it is affected by a magnetic field
help: |
  F = B q v sin(&theta;)

  Watch how electrons and positrons are affected by a magnetic field.

  No interactions yet. Changing the direction of the field and moving
  the source is on the to do list.
---

<style>
	#particles {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.light_mode #canvas {
		background: none !important;
	}
</style>

<canvas id="particles"></canvas>
<canvas id="canvas"></canvas>
